.dashboard {
    display: flex;
    height: 100vh;
    /* Ensure the dashboard takes full height */
    overflow: hidden;
}

.left-side {
    flex: 1;
    overflow-y: auto;
    /* Allow the sidebar to scroll if it overflows */
}

.product-side {
    flex: 3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* Prevent overflowing content */
}

.products-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

.container {
    margin-top: 20px;
}

.row {
    display: flex;
}

.col-md-3 {
    margin-bottom: 20px;
}

.product-card {
    height: 100%;
    /* Ensure the card takes the full height of its container */
}